.formItem {
  display: flex;
  flex-direction: column;
  gap: 20px;

  padding: 20px;
}

.formItem input {
  flex: 0 1;
}

.formItem label {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.btnSave,
.btnCancel {
  width: 150px;
}

.controls {
  display: flex;
  justify-content: center;
  gap: 20px;
}
